<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/menu.css">
    <title>Menu - Simone Paduanello Home Decor</title>
</head>
<body>
    <div id="pageDiv">
        <div id="formularioContainer" class="container">
            
            <h1 class="system-title">Simone Paduanello<br><span>Home Decor Estoque</span></h1>
            
            <div id="divFormularioFundo">      
                <ul class="menu">
                    <li><button class="nav-button" id="produtoNav">Gerenciamento de Produtos</button></li>
                    <li><button class="nav-button" id="materialNav">Gerenciamento de Materiais</button></li>
                    <li><button class="nav-button" id="corNav">Gerenciamento de Cores</button></li>
                    <li><button class="nav-button" id="categoriaNav">Gerenciamento de Categorias</button></li>
                    <li><button class="nav-button" id="colecaoNav">Gerenciamento de Coleções</button></li>
                    <li><button class="nav-button" id="localArmazenamentoNav">Locais de Armazenamento</button></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/menu.js"></script>
</body>
</html>