<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <title>Menu</title>
</head>
<body>
    <div id="pageDiv">
        <div id="formularioContainer" class="container">
            <div id="divFormularioFundo">      
                <ul class="menu">
                    <li><a id="produtoNav"><button class="nav-button" id="produto">Gerenciamento de Produtos</button></a></li>
                    <li><a id="materialNav"><button class="nav-button" id="material">Gerenciamento de Materiais</button></a></li>
                    <li><a id="corNav"><button class="nav-button" id="cor">Gerenciamento de Cores</button></a></li>
                    <li><a id="categoriaNav"><button class="nav-button" id="categoria">Gerenciamento de Categorias</button></a></li>
                    <li><a id="colecaoNav"><button class="nav-button" id="colecao">Gerenciamento de Coleções</button></a></li>
                    <li><a id="localArmazenamentoNav"><button class="nav-button">Locais de Armazenamento</button></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/menu.js"></script>
</body>
</html>