<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Cores</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div id="pageDiv">
        <div class="container-form">
            
            <div class="title-div">
                <h2 class="system-title">Gerenciamento de Cores</h2>
            </div>

            <div class="pesquisa-form-div">
                <label class="label" style="width: 100%;" for="pesquisa-input">Digite o nome da cor para a pesquisa:</label>
                
                <input type="text" class="input" id="pesquisa-input">
                
                <div class="button-container" style="width: 100%; margin-top: 10px;">
                    <button type="button" class="submit-button" style="width: auto; padding: 0 20px;" id="pesquisa-button">Pesquisar</button>
                    <button type="button" class="submit-button" style="width: auto; padding: 0 20px;" id="cadastrar-button">Cadastrar Cor</button>
                </div>
            </div>

            <div id="descricaoPaginaDiv">
                Para editar ou excluir alguma cor, clique na cor desejada localizada na lista.
            </div>

            <div class="list-div" id="list-div">
                
            </div>

        </div>
    </div>

    <script src="/js/cor/gerenciamentoCor.js"></script>
</body>
</html>