<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Categoria</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <form id="edicaoForm" class="form" method="post">
        <div class="container-form">
            <div class="content">

                <h1>Edição de Categoria</h1>

                <div class="input-group">
                    <label for="nomeInput" class="label">Nome da Categoria</label>
                    <input id="nomeInput" class="input" type="text" placeholder="Ex: Vermelho" required>
                </div>

                <div class="input-group">
                    <label for="descricaoInput" class="label">Descrição</label>
                    <input id="descricaoInput" class="input" type="text">
                </div>

                <div class="button-container">
                    <button type="submit" class="submit-button" id="edicao-button">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/categoria/edicaoCategoria.js"></script>
</body>
</html>