<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Material</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <form id="cadastroForm" class="form" method="post">
        <div class="container-form">
            <div class="content">

                <h1>Cadastro de Material</h1>

                <div class="input-group">
                    <label for="nomeInput" class="label">Nome da Material</label>
                    <input id="nomeInput" class="input" type="text" placeholder="Ex: Tricoline 100% Algodão" required>
                </div>

                <div class="input-group">
                    <label for="descricaoInput" class="label">Descrição</label>
                    <input id="descricaoInput" class="input" type="text">
                </div>

                <div class="button-container">
                    <button type="submit" class="submit-button" id="cadastro-button">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/material/cadastroMaterial.js"></script>
</body>
</html>