<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Produto</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div id="pageDiv">
        <div class="container-form">
            
            <div class="title-div">
                <h2 class="system-title">Gerenciamento de Produto</h2>
            </div>

            <div class="pesquisa-form-div">
                <label class="label" style="width: 100%;">Digite o nome do produto para a pesquisa:</label>
                
                <input type="text" class="input" id="pesquisaInput">
                
                <div class="button-container" style="width: 100%; margin-top: 10px;">
                    
                    <button type="button" class="submit-button" style="width: auto; padding: 0 20px;" id="pesquisarBtn">Pesquisar</button>
                    
                    <button type="button" class="submit-button" style="width: auto; padding: 0 20px;" id="cadastrar-button">Cadastrar Produto</button>
                </div>
            </div>

            <div id="descricaoPaginaDiv">
                Para editar ou excluir algum produto, clique no produto desejado localizado na lista.
            </div>

            <div class="list-div" id="list-div">
                
            </div>

        </div>
    </div>

    <script src="/js/produto/gerenciamentoProduto.js"></script>
</body>
</html>